body {
  background-image: url('./movie.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.movies-app {
  text-align: center;
  padding: 10% 20%;
}

.movies-search {
  display: inline-flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 40px;
}

.movies-app .movies-search input {
  padding: 7px 15px;
  border-radius: 5px;
  width: 70%;
  border: 2px solid #000;
}

.movies-app .movies-search button {
  margin-left: auto;
  border: 1px solid #000;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}

.dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin: 30% auto;
}
.dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f2d556;
  border-color: #f2d556 transparent #f2d556 transparent;
  animation: dual-ring 1.2s linear infinite;
}
@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1400px) {
  body {
    background-size: cover;
  }
}

@media (max-width: 990px) {
  body {
    background-size: cover;
  }

  .movies-app {
    padding: 10%;
  }
}

@media (max-width: 600px) {
  .movies-app {
    padding: 5%;
  }

  .movies-search {
    width: 100%;
  }
}
