.movies-app {
  text-align: center;
  padding: 100px 350px;
}

.movies-search {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.movies-app .movies-search input {
  padding: 7px 15px;
  border-radius: 5px;
  width: 75%;
  border: 2px solid #000;
}

.movies-app .movies-search button {
  margin-left: auto;
  border: 1px solid #000;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}

